<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Jogger</title>

    <!-- Tailwind.css is a CSS library. Read the docs here: -->
    <!-- https://tailwindcss.com/docs/what-is-tailwind -->
    <link rel="stylesheet" href="/tailwind.css" />
  </head>
  <body class="bg-grey">
    <header class="fixed pin-x pin-t bg-red shadow text-white">
      <div
        class="mx-auto h-16 p-5 flex items-center justify-between"
        style="width: 1000px"
      >
        <h2 class="p-4 uppercase bg-red-dark border border-white">Jogger - Account</h2>
        <div>
          Signed in as {{ user.name }} ({{ user.email }})
          <a
            href="/sign-out"
            class="text-white bg-red-dark border border-white rounded p-2 no-underline hover:bg-green-darkest ml-4"
          >
            Sign Out
          </a>
          <a
            href="/user"
            class="text-white bg-red-dark border border-white rounded p-2 no-underline hover:bg-green-darkest ml-4"
          >
            Launchpad
          </a>
        </div>
      </div>
    </header>

    <main
      style="width: 1000px; height: auto"
      class="mt-16 pt-4 flex flex-col items center justify-center "
    >
    <form
        class="m-4 shadow-lg rounded-lg overflow-hidden w-64 bg-red"
        method="GET"
        action="/delete-account"
      >
      <h1 class="text-2xl text-white bg-black text-center p-4">Delete Account</h1>

        <label class="m-4 block text-white text-center">
            Are you sure you want to delete your Jogger account?
        </label>

        <label class="m-4 block text-white text-center">
            Have you tried all the great features of Jogger?
        </label>

        <label class="m-4 block text-white text-center">
            If not, please click the Launchpad button to return to your profile page
        </label>

        <label class="m-4 block text-white text-center">
            Once deleted, you will lose access to your Jogger account, including your friends, your rankings and your jogger times. 
            This action cannot be undone once completed.
        </label>

        <label class="mt-16 ml-4 mr-4 mb-16 bg-black text-white text-center block">
            Click yes if you still want to delete your Jogger account
        </label>

        <button
          type="submit"
          class="block w-auto rounded bg-purple text-white p-2 m-4 ml-auto hover:bg-purple-dark"
        >
          Delete Account →
        </button>
      </form>
    </main>
  </body>
</html>